div.badge {
    position:relative;
    background-image: url("blankbadge.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:60px;
    height:60px;
    font-size:0.9em;
}


div.badge:before {
    content: "";
    display:block;
    position:absolute;
    width: 60%;
    height: 60%;
    right: 17%;
    top:12%;
    border-radius: 50%;
    border: solid gray 1px;
}

div.badge.red:before {
    background:red;
}

div.badge.blue:before {
    background:blue;
}

div.badge.green:before {
    background:green;
}

div.badge.ok:after {
    content: "v";
    text-align:center;
    display:block;
    position:absolute;
    width: 25%;
    height: 25%;
    right: -2%;
    top:8%;
    border-radius: 50%;
    background: green;
    color: white;
    opacity:0.8;
}

div.badge > span.info {
    position: absolute;
    text-align: center;
    left:0%;
    width:100%;
    top:32%;
    color:white;
}

div.badge > span.timing {
    position: absolute;
    z-index:-10;
    opacity: 0.5;
    display:block;
    font-size:0.8em;
    text-align: center;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    left:0%;
    top:-10%;
    color:white;
    background: gray;
    border: solid darkslategray 2px;
}

#badgebox {
    display:flex;
    justify-content: center;
}